<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaldishopping">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode"/>
        <activity
            android:name=".FirstScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    <activity

            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity

            android:name=".HomePageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CreateAccountActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/account"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_log_in"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SignInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_sign_in"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".HomePageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".WishListActivity"
            android:label="@string/title_activity_wishlist"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity
            android:name=".ShoppigListActivity"
            android:label="@string/title_activity_shoplist"

            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"

            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity
            android:name=".OffersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShoppingCartPageActivity"
            android:label="Shopping Cart"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"

            android:parentActivityName=".SignInActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SignInActivity" />
        </activity>
        <activity
        android:name=".ItemsDetailsActivity"
            android:label="@string/title_activity_itemdetails"
            android:parentActivityName=".DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailsActivity" />
        </activity>
        <activity
            android:name=".BillingSummaryActivity"
            android:label="@string/title_activity_billing_summary"
            android:parentActivityName=".ItemsDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemsDetailsActivity" />
        </activity>
        <activity
            android:name=".OrderVerifyActivity"
            android:label="@string/title_activity_order_verify"
            android:parentActivityName=".ItemsDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemsDetailsActivity" />
        </activity>
        <activity
            android:name=".Payment_OptionActivity"
            android:label="@string/title_activity_payment_option"
            android:parentActivityName=".ItemsDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemsDetailsActivity" />
        </activity>
        <activity
            android:name=".ProductDetailsCartActivity"
            android:label="Product Details"
            android:parentActivityName=".ShoppingCartPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingCartPageActivity" />
        </activity>
        <activity
            android:name=".MainRecycleActivity"
            android:label="Product Details"
            android:parentActivityName=".ShoppingCartPageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShoppingCartPageActivity" />
        </activity>
        <activity
        android:name=".PaymentStatusActivity"
            android:label="@string/title_activity_payment_status"
            android:parentActivityName=".ItemsDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemsDetailsActivity" />
        </activity>
        <activity
            android:name=".OrderVerifiedActivity"
            android:label="@string/title_activity_order_verify"
            android:parentActivityName=".ItemsDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemsDetailsActivity" />
        </activity>

        <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>
    </application>

</manifest>